<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <!-- Boxican Css -->
    <link rel="stylesheet" href="../static/assets/css/boxicons.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../static/assets/css/meanmenu.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.theme.default.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.min.css">
    <!-- Jquery Datetimepicker CSS -->
    <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.min.css" />
    <!-- Styleshet CSS -->
    <link rel="stylesheet" href="../static/assets/css/style1.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/assets/css/responsive.css">
    <!-- Favican -->
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">

    <title>FSquare: COVID-19 rumours impacts on Victorian seniors</title>

</head>


<body>

{% include 'nav.html' %}

{% block navi %}
{% endblock %}
</header>
<!-- End Heder Area -->


<!-- Services Area -->
<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title-one">

            <h2>Discover Covid-19 facts</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bx-transfer main-icon'><a href="/transmission" style="color:black"></a></i>
                    <h3><a href="/transmission" style="color:black">Transmission</a></h3>

                    <div class="view-more">
                        <a href="/transmission">
                            View Details
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bxs-thermometer main-icon'><a href="/symptom" style="color:black"></a></i>
                    <h3><a href="/symptom" style="color:black">Symptoms</a></h3>

                    <div class="view-more">
                        <a href="/symptom">
                            View Details
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bx-no-entry main-icon'><a href="/travel_restriction" style="color:black"></a></i>
                    <h3><a href="/travel_restriction" style="color:black">Travel Restrictions</a></h3>

                    <div class="view-more">
                        <a href="/travel_restriction">
                            View Details
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>

<!--            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bx-home main-icon'></i>
                    <h3>Do I need to stock toliet paper? </h3>
                    <p>balabala</p>
                    <div class="view-more">
                        <a href="#">
                            View More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- End Services Area -->



<!--        &lt;!&ndash; Blog Area &ndash;&gt;-->
<!--        <div class="blog-area ptb-100">-->
<!--            <div class="container">-->
<!--                <div class="section-title-one">-->
<!--                    <span>COVID News</span>-->
<!--                    <h2>The latest news</h2>-->
<!--                </div>-->

<!--                <div class="blog-slider owl-carousel owl-theme">-->
<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-1.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 22 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 200K</span>-->

<!--                            <h3><a href="blog-details.html">You can easily connect to a doctor and make a treatment</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-2.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 23 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 180K</span>-->

<!--                            <h3><a href="blog-details.html">Lockdowns lead to fewer people seeking medical care</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-3.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 24 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 170K</span>-->
<!--                            <h3><a href="blog-details.html">Emergency medicine research course for the doctors</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-4.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 27 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 170K</span>-->

<!--                            <h3><a href="blog-details.html">Emergency medicine research course for the doctors</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Blog Area &ndash;&gt;-->

<!--        &lt;!&ndash; Footer Area&ndash;&gt;-->
<!--        <footer class="footer-area bg-color pt-100 pb-70">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget">-->
<!--                            <h2>Find us</h2>-->
<!--                            <p>Shop 4/21 Chancellors Walk, Clayton VIC 3168</p>-->
<!--                            <ul class="contact">-->
<!--                                <li>-->
<!--                                    <i class='bx bx-location-plus'></i>-->
<!--                                    Somewhere over the rainbow-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="">-->
<!--                                        <i class='bx bx-phone-call'></i>-->
<!--                                        +61 0416824196-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="mailto:info@covax.com">-->
<!--                                        <i class='bx bx-message-dots'></i>-->
<!--                                        web tech support: cche0165@student-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget pl-50">-->
<!--                            <h2>Quick links</h2>-->
<!--                            <ul class="widget-list">-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Home-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Covid precautions-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Medical sevices-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Dashboard-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        News-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        About us-->
<!--                                    </a>-->
<!--                                </li>-->

<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget">-->
<!--                            <h2>Join our community</h2>-->
<!--                            <ul class="widget-list">-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Contribute to our blogs-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Join development team-->
<!--                                    </a>-->
<!--                                </li>-->


<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget pl-50">-->
<!--                            <h2>Meet our team</h2>-->
<!--                            <ul class="widget-time">-->
<!--                                <li>Developers: Chen Chen, Ruoyu Tian</li>-->
<!--                                <li>Data scientist: Yishun Xu</li>-->
<!--                                <li>Business analyst: Rachael Coutinho, Ming Kong</li>-->
<!--                            </ul>-->

<!--                            <ul class="social-link">-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-facebook bg-1'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-twitter bg-2'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-linkedin bg-3'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-instagram bg-4'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->
<!--        &lt;!&ndash; End Footer Area &ndash;&gt;-->

<!--        &lt;!&ndash; Footer Bottom Area &ndash;&gt;-->
<!--        <div class="footer-bottom-area">-->
<!--            <div class="container">-->
<!--                <p>Copyright @2021 FSquare. All rights reserved <a href="http://www.bootstrapmb.com/" target="_blank">FSquare</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Footer Bottom Area &ndash;&gt;-->
{% include 'footer.html' %}

{% block foot %}
{% endblock %}
<!-- Go Top -->
<div class="go-top">
    <i class='bx bxs-upvote'></i>
</div>
<!-- End Go Top -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Magnific -->
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="../static/assets/js/meanmenu.min.js"></script>
<!-- Nice Select JS -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<!-- Jquery Mixitup JS -->
<script src="../static/assets/js/jquery.mixitup.min.js"></script>
<!-- Jquery Datetimepicker JS -->
<script src="../static/assets/js/jquery.datetimepicker.full.min.js"></script>
<!-- Form Validator JS -->
<script src="../static/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="../static/assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp JS -->
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="../static/assets/js/custom.js"></script>
</body>
</html>
