<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <!-- Boxican Css -->
    <link rel="stylesheet" href="../static/assets/css/boxicons.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../static/assets/css/meanmenu.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.theme.default.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.min.css">
    <!-- Jquery Datetimepicker CSS -->
    <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.min.css" />
    <!-- Styleshet CSS -->
    <link rel="stylesheet" href="../static/assets/css/style1.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/assets/css/responsive.css">
    <!-- Favican -->
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">

    <title>How to distinguish fictions</title>
</head>
<style>
    a {
        color:white;
    }
    a:hover {
        color: #207EF7;
    }
</style>

<body>
{% include 'nav.html' %}

{% block navi %}
{% endblock %}

<!-- Page Banner Area -->
<div class="page-banner-area bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>How to distinguish fictions</h2>
                    <ul>
                        <li style="font-size:22px" ><a href="/fact">Fact</a></li>
                        <li style="font-size:22px"><a href="/fiction">Anti Fictions</a></li>
                        <li style="font-size:22px"><a href="/fictiondetails">How to distinguish fictions</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->

<div class="services-dateils-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="services-details">
                    <!--                            <div class="header-img">-->
                    <!--                                <img src="../static/assets/img/blog/blog-details-1.jpg" alt="Image">-->
                    <!--                            </div>-->

                    <ul>
                        <li>


                        </li>
                        <li>

                            <!--
                                                    </li>
                                                                              <li>-->
                            <!--                                    <i class='bx bx-show-alt'></i>-->
                            <!--                                    45 views-->
                            <!--                                </li>-->
                    </ul>

                    <div class="details-text">
                        <h2>How to distinguish real news and fake news for Covid-19? </h2>
                        <span>  </span>
                        <div class = 'line-breaker'>
                            <p style="font-size:20px;height: auto;max-height: 2000px;overflow: auto;word-break: normal;word-wrap: normal;white-space: pre-wrap;font-family: Arial, Helvetica, sans-serif;">    Consider the source
    Check the reliability of the source. Some of the source may reference “Harvard University” or ”Japanese doctors”. Check on the official site if the expression is repeated there. If not, the story is probably a rumor.

    Logo
    Check if the articles or news use the same logo as the official one.

    Bad English Expression
    Credible journalist or organization are less likely to make spelling, grammar mistakes or write entirely using capital letters. If the above things happen, you should cast serious doubt on the reliability of the news.

    Mimic the official site
    Some fake accounts mimic the official site. For example, they may have a twitter account called @ABCNewsTonight which may try to mimic the official @ABCNews account. By doing so, they produce some news to deceive and do harm which can help them achieve the intended purposes.

    Over-encouragement to share
    If a message push you to share with your friends or families. Please be care of. That’s may be start of the viral transmission.

    Use fact-checking website
    If you have any doubt about the reliability of the news, please use the useful fact-checking website such as <a style="font-size: 25px; color: #005cbf" href="https://apnews.com/hub/ap-fact-check">APFactCheck</a> and <a style="font-size: 25px; color: #005cbf" href="https://fullfact.org/">Full Fact</a> to check the reliability of the news
                            </p>


                        </div>

                        <!--
                                                <span>  </span>
                                                <div class = 'line-breaker'>

                                                </div>

                                                                                <div class="content-img">-->
                        <!--                                    <div class="row">-->
                        <!--                                        <div class="col-lg-6 col-sm-6">-->
                        <!--                                            <img src="../static/assets/img/blog/blog-3.jpg" alt="Image">-->
                        <!--                                        </div>-->

                        <!--                                        <div class="col-lg-6 col-sm-6">-->
                        <!--                                            <img src="../static/assets/img/blog/blog-2.jpg" alt="Image">-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->

                    </div>


                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="widget-area">


                    <div class="widget widget_posts_thumb">

                    </div>



                    <div class="side-bar-box tags-box">
                        <h3 class="title">Tags</h3>
                        <ul>

                            <li><a href="/fiction">Anti Fiction</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Services Dateils Area -->

{% include 'footer.html' %}

{% block foot %}
{% endblock %}

<!-- Go Top -->
<div class="go-top">
    <i class='bx bxs-upvote'></i>
</div>
<!-- End Go Top -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Magnific -->
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="../static/assets/js/meanmenu.min.js"></script>
<!-- Nice Select JS -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<!-- Jquery Mixitup JS -->
<script src="../static/assets/js/jquery.mixitup.min.js"></script>
<!-- Jquery Datetimepicker JS -->
<script src="../static/assets/js/jquery.datetimepicker.full.min.js"></script>
<!-- Form Validator JS -->
<script src="../static/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="../static/assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp JS -->
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="../static/assets/js/custom.js"></script>
</body>
</html>
