<!-- Footer Area-->
<footer class="footer-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2>External link</h2>
                    <ul class="contact">
                        <li>
                            <a href='https://www.health.gov.au/'>
                                AU Department of Health
                            </a>
                        </li>
                        <li>
                            <a href='https://www.coronavirus.vic.gov.au/'>
                                VIC government Covid-19
                            </a>
                        </li>
                        <li>
                            <a href='https://www.who.int/emergencies/diseases/novel-coronavirus-2019?gclid=CjwKCAjwr_uCBhAFEiwAX8YJgTTnX4v_wtGZdTAverows8P_hxnyiw8oSlEqAMgUP7T0FEIXZ68LiRoCfQwQAvD_BwE'>
                                WHO Covid-19
                            </a>
                        </li>


                        <!--<li>
                            <a href="mailto:cche0165@student">
                                <i class='bx bx-message-dots'></i>
                                VIC government
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h2>Quick links</h2>
                    <ul class="widget-list">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="mask">
                                Read about Masks
                            </a>
                        </li>
                        <li>
                            <a href="symptom">
                                Read about Symptoms
                            </a>
                        </li>
                        <li>
                            <a href="good_hygiene">
                                Read about Good Hygiene
                            </a>
                        </li>
                        <li>
                            <a href="transmission">
                                Read about Transmission
                            </a>
                        </li>
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                COVID-19 Visualisation Dashboard-->
<!--                            </a>-->
<!--                        </li>-->
                        <li>
                            <a href="about">
                                About us
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

           <!-- <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2>Join our community</h2>
                    <ul class="widget-list">
                        <li>
                            <a href="#">
                                Contribute to our blogs
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Join development team
                            </a>
                        </li>


                    </ul>
                </div>
            </div>-->

           <!-- <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h2>Meet our team</h2>
                    <ul class="widget-time">
                        <li>Developers: Chen Chen, Ruoyu Tian</li>
                        <li>Data scientist: Yishun Xu</li>
                        <li>Business analyst: Rachael Coutinho, Ming Kong</li>
                    </ul>

                    <ul class="social-link">
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook bg-1'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter bg-2'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-linkedin bg-3'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-instagram bg-4'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Footer Bottom Area -->
<div class="footer-bottom-area">
    <div class="container">
        <p>Copyright @2021 FSquare. All rights reserved <a href="http://127.0.0.1:5000/" target="_blank">FSquare</a></p>
    </div>
</div>
<!-- End Footer Bottom Area -->