<!-- Footer Area-->
<footer class="footer-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h2>Quick links</h2>
                    <ul class="widget-list">
                        <li>
                            <a style="font-size:18px" href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a style="font-size:18px" href="/precaution">
                                Discover precautions
                            </a>
                        </li>
                        <li>
                            <a style="font-size:18px" href="/fact">
                                Covid facts
                            </a>
                        </li>


<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                COVID-19 Visualisation Dashboard-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a style="font-size:18px" href="/about">-->
<!--                                About-->
<!--                            </a>-->
<!--                        </li>-->

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h2>Squash rumors</h2>
                    <ul class="widget-list">
                        <li>
                            <a style="font-size:18px" href="/fiction">
                                Anti fictions
                            </a>
                        </li>
                        <li>
                            <a style="font-size:18px" href="/visualisation">
                                Visualised statistics
                            </a>
                        </li>


                        <!--                        <li>-->
                        <!--                            <a href="#">-->
                        <!--                                COVID-19 Visualisation Dashboard-->
                        <!--                            </a>-->
                        <!--                        </li>-->


                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h2>About the vaccine</h2>
                    <ul class="widget-list">
                        <li>
                            <a style="font-size:18px" href='/vaccine_map'>
                                Where to get it
                            </a>
                        </li>
                        <li>
                            <a style="font-size:18px" href='/vaccine_timeline'>
                                How it developed
                            </a>
                        </li>
                        <li>
                            <a style="font-size:18px" href='/vaccine_blog'>
                                Things to know
                            </a>
                        </li>


                    </ul>
                </div>
            </div>



           <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h2>About Factoids</h2>
                    <p style="font-size: 18px">We strives to provide trustful and valuable information about COVID-19 to our seniors residing in Victoria.</p>
<!--                    <ul class="widget-time">-->
<!--                        <li>Factoids strives to provide trustful and valuable information about COVID-19 </li>-->
<!--                        <li>We care about the community of our seniors residing in Victoria</li>-->
<!--                        <li>Hope we can safeguard you from the false information.</li>-->
<!--                    </ul>-->


                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Footer Bottom Area -->
<div class="footer-bottom-area">
    <div class="container">
        <p>Copyright @2021 Factoids. All rights reserved <a href="http://www.factoids.tk" target="_blank">Factoids</a></p>
    </div>
</div>
<!-- End Footer Bottom Area -->