<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <!-- Boxican Css -->
    <link rel="stylesheet" href="../static/assets/css/boxicons.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../static/assets/css/meanmenu.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.theme.default.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.min.css">
    <!-- Jquery Datetimepicker CSS -->
    <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.min.css" />
    <!-- Styleshet CSS -->
    <link rel="stylesheet" href="../static/assets/css/style1.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/assets/css/responsive.css">
    <!-- Favican -->
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">

    <title>FSquare: COVID-19 rumours impacts on Victorian seniors</title>

</head>


<body>

{% include 'nav.html' %}

{% block navi %}
{% endblock %}
</header>
<!-- End Heder Area -->


<!-- Services Area -->
<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title-one">
            <h2>Discover Covid-19 precautions</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bx-home main-icon'></i>
                    <h3><a href="/isolation" style="color:black">Isolation</a></h3>

                    <div class="view-more">
                        <a href="/isolation">
                            View Details
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bx-droplet main-icon'></i>
                    <h3><a href="/good_hygiene" style="color:black">Hygiene</a></h3>
                    <div class="view-more">
                        <a href="/good_hygiene">
                            View Details
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bx-face main-icon'></i>
                    <h3><a href="/mask" style="color:black">Mask</a></h3>

                    <div class="view-more">
                        <a href="/mask">
                            View Details
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>


<!--            <div class="col-lg-4 col-sm-6">
                <div class="service-card">
                    <i class='bx bx-home main-icon'></i>
                    <h3>Do I need to stock toliet paper? </h3>
                    <p>balabala</p>
                    <div class="view-more">
                        <a href="#">
                            View More
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- End Services Area -->



<!--&lt;!&ndash;        &lt;!&ndash; Blog Area &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="blog-area ptb-100">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="section-title-one">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>COVID News</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h2>The latest news</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="blog-slider owl-carousel owl-theme">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="blog-card">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="blog-details.html">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="../static/assets/img/blog/blog-1.jpg" alt="Shape">&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="b-card-text">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>September 22 , 2020</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="t-right"><i class='bx bx-user'></i> 200K</span>&ndash;&gt;-->

<!--&lt;!&ndash;                            <h3><a href="blog-details.html">You can easily connect to a doctor and make a treatment</a></h3>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>&ndash;&gt;-->

<!--&lt;!&ndash;                            <div class="view-more">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                    View more&ndash;&gt;-->
<!--&lt;!&ndash;                                    <i class='bx bx-right-arrow-alt'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="blog-card">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="blog-details.html">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="../static/assets/img/blog/blog-2.jpg" alt="Shape">&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="b-card-text">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>September 23 , 2020</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="t-right"><i class='bx bx-user'></i> 180K</span>&ndash;&gt;-->

<!--&lt;!&ndash;                            <h3><a href="blog-details.html">Lockdowns lead to fewer people seeking medical care</a></h3>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>&ndash;&gt;-->

<!--&lt;!&ndash;                            <div class="view-more">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                    View more&ndash;&gt;-->
<!--&lt;!&ndash;                                    <i class='bx bx-right-arrow-alt'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="blog-card">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="blog-details.html">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="../static/assets/img/blog/blog-3.jpg" alt="Shape">&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="b-card-text">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>September 24 , 2020</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="t-right"><i class='bx bx-user'></i> 170K</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <h3><a href="blog-details.html">Emergency medicine research course for the doctors</a></h3>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>&ndash;&gt;-->

<!--&lt;!&ndash;                            <div class="view-more">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                    View more&ndash;&gt;-->
<!--&lt;!&ndash;                                    <i class='bx bx-right-arrow-alt'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="blog-card">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="blog-details.html">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="../static/assets/img/blog/blog-4.jpg" alt="Shape">&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="b-card-text">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span>September 27 , 2020</span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="t-right"><i class='bx bx-user'></i> 170K</span>&ndash;&gt;-->

<!--&lt;!&ndash;                            <h3><a href="blog-details.html">Emergency medicine research course for the doctors</a></h3>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>&ndash;&gt;-->

<!--&lt;!&ndash;                            <div class="view-more">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                    View more&ndash;&gt;-->
<!--&lt;!&ndash;                                    <i class='bx bx-right-arrow-alt'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; End Blog Area &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Footer Area&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <footer class="footer-area bg-color pt-100 pb-70">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-lg-3 col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="footer-widget">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h2>Find us</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            <p>Shop 4/21 Chancellors Walk, Clayton VIC 3168</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ul class="contact">&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <i class='bx bx-location-plus'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    Somewhere over the rainbow&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class='bx bx-phone-call'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        +61 0416824196&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="mailto:info@covax.com">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class='bx bx-message-dots'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        web tech support: cche0165@student&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="col-lg-3 col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="footer-widget pl-50">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h2>Quick links</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ul class="widget-list">&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Home&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Covid precautions&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Medical sevices&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Dashboard&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        News&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        About us&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->

<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="col-lg-3 col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="footer-widget">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h2>Join our community</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ul class="widget-list">&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Contribute to our blogs&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Join development team&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->


<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="col-lg-3 col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="footer-widget pl-50">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h2>Meet our team</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ul class="widget-time">&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>Developers: Chen Chen, Ruoyu Tian</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>Data scientist: Yishun Xu</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>Business analyst: Rachael Coutinho, Ming Kong</li>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->

<!--&lt;!&ndash;                            <ul class="social-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class='bx bxl-facebook bg-1'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class='bx bxl-twitter bg-2'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class='bx bxl-linkedin bg-3'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a href="#" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class='bx bxl-instagram bg-4'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </footer>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; End Footer Area &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Footer Bottom Area &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="footer-bottom-area">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Copyright @2021 FSquare. All rights reserved <a href="http://www.bootstrapmb.com/" target="_blank">FSquare</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash; End Footer Bottom Area &ndash;&gt;-->
{% include 'footer.html' %}

{% block foot %}
{% endblock %}
<!-- Go Top -->
<div class="go-top">
    <i class='bx bxs-upvote'></i>
</div>
<!-- End Go Top -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Magnific -->
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="../static/assets/js/meanmenu.min.js"></script>
<!-- Nice Select JS -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<!-- Jquery Mixitup JS -->
<script src="../static/assets/js/jquery.mixitup.min.js"></script>
<!-- Jquery Datetimepicker JS -->
<script src="../static/assets/js/jquery.datetimepicker.full.min.js"></script>
<!-- Form Validator JS -->
<script src="../static/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="../static/assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp JS -->
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="../static/assets/js/custom.js"></script>
</body>
</html>
