<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <!-- Boxican Css -->
    <link rel="stylesheet" href="../static/assets/css/boxicons.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../static/assets/css/meanmenu.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.theme.default.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.min.css">
    <!-- Jquery Datetimepicker CSS -->
    <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.min.css" />
    <!-- Styleshet CSS -->
    <link rel="stylesheet" href="../static/assets/css/style1.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/assets/css/responsive.css">
    <!-- Favican -->
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
    <link rel="stylesheet" href="../static/assets/css/vaccine-timeline.css">
    <link rel="stylesheet" href="../static/assets/css/style-timeline.css" />

    <title>FSquare: COVID-19 rumours impacts on VIC's elders</title>
</head>
<style>
    .hide {
        display: none;
    }

    .b-card-text:hover + .hide {
        display: block;
    }

</style>
<body>
{% include 'nav.html' %}

{% block navi %}
{% endblock %}


<!-- Page Banner Area -->
<div class="page-banner-area bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>Vaccine</h2>
                    <ul>
                        <li style="font-size:22px"><a href="/vaccine">vaccine</a></li>
                        <li style="font-size:22px"><a href="/vaccine_timeline">Vaccine timeline</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->

<!-- Services Area -->
<!--<div class="services-area pt-100 pb-70">-->
<!--    <div class="container">-->
<!--        <div class="section-title-one">-->
<!--            <h2>Discover Covid-19 Vaccines</h2>-->
<!--        </div>-->

<!--        <section id="when"><p> </p></section>-->
<!--        <div id="timeline">-->
<!--            <div id="textout">-->
<!--                <div class="text" onmousemove="movecolor(1)" onmouseout="outcolor(1)">Vaccine</div>-->
<!--                <div class="text" onmousemove="movecolor(2)" onmouseout="outcolor(2)">Test2</div>-->
<!--                <div class="text" onmousemove="movecolor(3)" onmouseout="outcolor(3)">Sanitizer</div>-->
<!--            </div>-->
<!--            <div id="lineout">-->
<!--                <div class="line" id="l1" onmousemove="movecolor(1)" onmouseout="outcolor(1)"></div>-->
<!--                <div class="line" id="l2" onmousemove="movecolor(2)" onmouseout="outcolor(2)"></div>-->
<!--                <div class="line" id="l3" onmousemove="movecolor(3)" onmouseout="outcolor(3)"></div>-->
<!--            </div>-->
<!--        </div>-->

<!--            <h4 style="text-align: center">When do I get vaccinated?</h4>-->

<!--        <div id="vaccine-timeline-picture"><img id="backgroundimg" src="../static/assets/img/blog/blog-1.jpg" alt="This should be a picture"></div>-->

<!--        <script type="text/javascript">-->
<!--            function movecolor(num){-->
<!--                document.getElementById("l"+num).style.background = "#98E0FA" ;-->
<!--                document.getElementById("backgroundimg").src="../static/assets/img/blog/blog-"+num+".jpg";-->
<!--            }-->
<!--            function outcolor(num){-->
<!--                document.getElementById("l"+num).style.background = "#ccc" ;-->
<!--            }-->
<!--        </script>-->

<!--    </div>-->
<!--</div>-->

<!-- new timeline area -->
<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <h2></h2>>
        <div class="cd-timeline-img cd-picture">
            <img src="static/assets/img/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
<!--            <h2>HTML5+CSS3 Response type vertical timeline</h2>-->
            <p>The novel Corona Virus was declared as a global pandemic depicting significant effect on the lives of millions.

                Lockdowns were imposed in multiple cities worldwide leading scientists and health care officials to go scourging for a vaccine to a health scare like never seen before in recent times.
            </p>
<!--            <a href="#" class="cd-read-more" target="_blank">Read more</a>-->
            <span class="cd-date">February 2020</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="static/assets/img/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
<!--            <h2>HTML5+CSS3 Response type vertical timeline</h2>-->
            <p>Gaining unprecedented traction, the “Operation Warp Speed (OWS)” was introduced by the U.S. Department of Health and Human Services in a bid to acquire a Covid-19 vaccine.</p>

            <p>Keeping all safety measures in check, two companies namely Pfizer and Moderna undertook a prolonged vaccine technology project known as Messenger RNA (mRNA) vaccines.
            </p>
<!--            <a href="#" class="cd-read-more" target="_blank">Read more</a>-->
            <span class="cd-date">March 30, 2020</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="static/assets/img/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
<!--            <h2>HTML5+CSS3 Response type vertical timeline</h2>-->
            <p>Carving a niche as leaders of Covid-19 vaccine technology, Moderna published Phase l/ll trial data on July 14, 2020 whereas Pfizer released the data on August 12, 2020.</p>

            <p>Both vaccines were deemed effective when tested on vaccinated animals showing prevention of viral replication in the nose resulting in the inception of Phase lll trials.
            </p>
<!--            <a href="#" class="cd-read-more" target="_blank">Read more</a>-->
            <span class="cd-date">July 2020 – August 2020 </span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="static/assets/img/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
<!--            <h2>HTML5+CSS3 Response type vertical timeline</h2>-->
            <p>As enrolment for Phase lll trials were rolled out, almost 70,000 people registered to get vaccinated with Moderna leading vaccine testing that was US-centred whereas Pfizer decided to drive its focus on a global magnitude.</p>
            <p>The status of Covid-19 in the tested people was tracked for 10 weeks as they went about their normal lives during this period.</p>
<!--            <a href="#" class="cd-read-more" target="_blank">Read more</a>-->
            <span class="cd-date">September 2020</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="static/assets/img/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
<!--            <h2>HTML5+CSS3 Response type vertical timeline</h2>-->
            <p>Showing promising results, Pfizer’s Phase lll data displayed an efficacy rate of 95%. Similarly, Moderna also displayed an efficacy rate of approx. 95% with traces of any adverse effects being only observed in the placebo arm and not the vaccine arm.</p>
            <p>The positive bearings of the results were presented to the U.S. FDA and official statements were released by both parties that Moderna hoped to roll out 20 million doses and Pfizer aimed for 50 million vaccine doses to be globally existing by end of 2020.</p>
<!--            <a href="#" class="cd-read-more" target="_blank">Read more</a>-->
            <span class="cd-date">November 2020</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="static/assets/img/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
<!--            <h2>HTML5+CSS3 Response type vertical timeline</h2>-->
            <p>UK distributed the controversial AstraZeneca vaccines and yet failed to control the number of cases deciding to mix doses of AstraZeneca and Pfizer. Health officials and pharmacies had started giving out vaccines with the highest priority given to patients with high heart failure conditions.</p>
            <p>Most countries have suspended AstraZeneca vaccine however positive results have been shown in the patients who were vaccinated with both Moderna and Pfizer doses in the Phase l/ll trial indicating the rollout of the 2 vaccines will continue. WHO aspires to get global vaccination by the end of 2022.</p>
<!--            <a href="#" class="cd-read-more" target="_blank">Read more</a>-->
            <span class="cd-date">January 2021 – March 2021</span>
        </div>
    </div>
</section>


<!-- end of new timeline area -->

<!-- End Services Area -->


<!-- End Blog Area -->

{% include 'footer.html' %}

{% block foot %}
{% endblock %}

<!-- Go Top -->
<div class="go-top">
    <i class='bx bxs-upvote'></i>
</div>
<!-- End Go Top -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Magnific -->
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="../static/assets/js/meanmenu.min.js"></script>
<!-- Nice Select JS -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<!-- Jquery Mixitup JS -->
<script src="../static/assets/js/jquery.mixitup.min.js"></script>
<!-- Jquery Datetimepicker JS -->
<script src="../static/assets/js/jquery.datetimepicker.full.min.js"></script>
<!-- Form Validator JS -->
<script src="../static/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="../static/assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp JS -->
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="../static/assets/js/custom.js"></script>
</body>
</html>
